.list-view .pager {
    text-align: center;
}

.pagination > .page > a,
.pagination > .first > a,
.pagination > .last > a {
    border-radius: 0px;
}

.pagination > .selected > a,
.pagination > .selected > a:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #428bca;
    border-color: #428bca;
}

.pagination > .previous,
.pagination > .next {
    display: none;
}